@{
    ViewBag.Title = "About Abby Rachel";
    ViewBag.Message = "I am from Findlay, Ohio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> I am a Senior at Ohio University graduating in May 2020. I am double majoring in Management Information Systems and Marketing.</p>
