@{
    ViewBag.Title = "Abby Rachel";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a passionate, trust-worthy, hardworking, and committed student in the College of Business at Ohio University. I am a senior majoring in Management Information Systems and Marketing. I worked at Marathon Petroleum as a Business Analyst Co-op this Fall where I received professional and technical experience. I have a strong work ethic and time management skills. I am looking for opportunities to be challenged and to gain experience in the marketing or management information systems industry. </p>
